@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('%sveltekit.assets%/Roboto-Regular') format('ttf');
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto'
}